<%= stylesheet_link_tag "bootstrap-combined.min.css" %>

<div id="main" class="container">
<h1>Success!</h1>
<p>Your email has been submitted. Thank you for your interest in StopInfo.</p>

<%= link_to 'Return to information view.', "/busstops/"+ params[:id] %>
</div>
