<%= stylesheet_link_tag "bootstrap.min.css" %>
<div style= "padding:5px;">
<h1>Success!</h1>
<p>Your response has been submitted. Thank you for helping to improve the stop information.</p>
<br>Tell us why you contributed, and you can win a $50 gift card of your choosing! <a href= "http://tinyurl.com/stopinfo">Read more here.</a>
<br><br>
<%= link_to 'Return to information view.', "/busstops/"+ params[:id] %>
</div>
