<%= stylesheet_link_tag "bootstrap.min.css" %>
<div style= "padding:5px;">
<h1>Success!</h1>
<p>Your response has been submitted. Thank you for helping to improve the stop information.</p>
<p>If you are interested in taking part in a quick survey about your submission, and would like to be entered into a drawing to win a $50 Amazon gift card, please participate by copying this link and pasting it into your browser: http://tinyurl.com/q6jazqy </p>
<br><br>
<%= link_to 'Return to information view.', "/busstops/"+ params[:id] %>
</div>
