<%= stylesheet_link_tag "bootstrap-combined.min.css" %>

<div id="main" class="container">
<h1>Success!</h1>
<p>Your response has been submitted. Thank you for helping to improve the stop information.</p>

<%= link_to 'Return to information view.', "/busstops/"+ params[:id] %>
</div>
