<div style="padding:5px;">
<p>Sorry, we don't have any information for this stop at this time, or the stop number is invalid.</p>

<table>
  <tr>
    <td> <%= link_to 'What is StopInfo?', "/" %>
    </td>    
    <td width=40></td>
    <td><%= link_to 'Contact us', "/contact_forms/new" %></td>
  </tr>
</table>
</div>