<%= stylesheet_link_tag "bootstrap.min.css" %>
<h1>Not success!</h1>
<p>Thanks for your interest in StopInfo! You've already sent in a report for this stop within the last 24 hrs.</p>

<%= link_to 'Return to information view.', "/busstops/"+ params[:id] %>
</div>
