<%= stylesheet_link_tag "bootstrap.min.css" %>
<div style= "padding:5px;">
<h1>Success!</h1>
<p>Your response has been submitted. Thank you for contributing to our understanding of StopInfo usage.</p>

<br><br>
<%= link_to 'Return to StopInfo Main Page', "/" %>
</div>
